body{
    background-color: #FFEFD8;
}


#Main_title, #Intro{
    text-align: center;
}

#map{
    padding-left: 160px;
    padding-top: 30px;
}

#row_4_wrapper,#row5_wrapper{
    display: flex;
    justify-content: space-between;
}
#row_4_Textwrapper{
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

#LineChart{
    padding-left: 60px;
}

#bar_chart_wrapper,#map_main,#row5_wrapper,#scatter_container,#scatter_container2,#barChart_description{
    padding-bottom: 40px;
    padding-top: 40px;
}

#scatter_container,#scatter_container2,#Intro{
    padding-left: 40px;
}

#Intro{
    padding-right:40px;
}

#barChart_description{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

#bar_chart_wrapper{
    padding-left: 40px;
}

#scatter_desc{
    font-size: large;
    font-weight: bold;
}