body{
    background-color: #FFEFD8;
}


#Main_title, #Intro #map_desc_1970, #map_desc{
    text-align: center;
}

#map,#map_1970{
    padding-left: 160px;
    padding-top: 30px;
}

#row_4_wrapper,#row5_wrapper{
    display: flex;
    justify-content: space-between;
}


/* #LineChart{
    padding-left: 60px;
} */

#bar_chart_wrapper,#map_main,#row5_wrapper,#scatter_container,#scatter_container2,#barChart_description,#map_main_1970{
    padding-bottom: 40px;
    padding-top: 40px;
}

#scatter_container,#scatter_container2,#Intro,#bar_chart_wrapper,#row_4_wrapper,#row5_wrapper,#map_desc,#map_desc_1970{
    padding-left: 40px;
}

#Intro,#map_desc,#map_desc_1970{
    padding-right:40px;
}

#barChart_description{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}



#scatter_desc{
    font-size: large;
    font-weight: bold;
}